In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [2]:
df = pd.read_csv("C:\\Users\\Lenovo\\Downloads\\new dataset\\dataset\\test.csv")
df.head()

,Timestamp,Residents,Apartment_Type,Temperature,Humidity,Water_Price,Period_Consumption_Index,Income_Level,Guests,Amenities,Appliance_Usage
0,11/10/2014 16,5,Bungalow,11.89,57.88,2.77,1.48,Upper Middle,1,Jacuzzi,0.0
1,12/10/2014 00,4,Bungalow,29.22,61.41,2.85,1.30,Upper Middle,0,Garden,NaN
2,12/10/2014 08,3,Cottage,10.27,64.9,1.66,0.97,Middle,0,None,0.0
3,12/10/2014 16,3,1BHK,27.03,52.67,1.48,1.31,Low,0,None,0.0
4,13/10/2014 00,2,Cottage,12.32,55.23,1.19,1.30,Middle,0,Swimming Pool,0.0

In [3]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%d/%m/%Y %H')
df.head()

,Timestamp,Residents,Apartment_Type,Temperature,Humidity,Water_Price,Period_Consumption_Index,Income_Level,Guests,Amenities,Appliance_Usage
0,2014-10-11 16:00:00,5,Bungalow,11.89,57.88,2.77,1.48,Upper Middle,1,Jacuzzi,0.0
1,2014-10-12 00:00:00,4,Bungalow,29.22,61.41,2.85,1.30,Upper Middle,0,Garden,NaN
2,2014-10-12 08:00:00,3,Cottage,10.27,64.9,1.66,0.97,Middle,0,None,0.0
3,2014-10-12 16:00:00,3,1BHK,27.03,52.67,1.48,1.31,Low,0,None,0.0
4,2014-10-13 00:00:00,2,Cottage,12.32,55.23,1.19,1.30,Middle,0,Swimming Pool,0.0

In [4]:
# numeric columns
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

# categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [5]:
categorical_cols

Index(['Apartment_Type', 'Humidity', 'Income_Level', 'Amenities'], dtype='object')

In [6]:
numeric_cols

Index(['Residents', 'Temperature', 'Water_Price', 'Period_Consumption_Index',
       'Guests', 'Appliance_Usage'],
      dtype='object')

In [7]:
df.isnull().sum()

Timestamp                     0
Residents                     0
Apartment_Type              166
Temperature                 150
Humidity                      0
Water_Price                   0
Period_Consumption_Index      0
Income_Level                165
Guests                        0
Amenities                     0
Appliance_Usage             177
dtype: int64

In [8]:
df["Apartment_Type"]=df["Apartment_Type"].fillna('NA')
df["Income_Level"]=df["Income_Level"].fillna('NA')

In [9]:
df["Temperature"]=df["Temperature"].fillna(df["Temperature"].mean())
df["Appliance_Usage"]=df["Appliance_Usage"].fillna(df["Appliance_Usage"].mean())

In [10]:
df.isnull().sum()

Timestamp                   0
Residents                   0
Apartment_Type              0
Temperature                 0
Humidity                    0
Water_Price                 0
Period_Consumption_Index    0
Income_Level                0
Guests                      0
Amenities                   0
Appliance_Usage             0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

df["Apartment_Type"]=encoder.fit_transform(df["Apartment_Type"])
df["Income_Level"]=encoder.fit_transform(df["Income_Level"])
df["Amenities"]=encoder.fit_transform(df["Amenities"])
df["Humidity"]=encoder.fit_transform(df["Humidity"])

In [12]:
negative_count = (df.select_dtypes(exclude=['datetime64[ns]']) < 0).sum()
print("Negative value counts per column:")
print(negative_count)

Negative value counts per column:
Residents                   116
Apartment_Type                0
Temperature                   0
Humidity                      0
Water_Price                 126
Period_Consumption_Index      1
Income_Level                  0
Guests                       63
Amenities                     0
Appliance_Usage               0
dtype: int64

In [13]:
mean_value = df[df['Residents'] >= 0]['Residents'].mean()
df['Residents'] = df['Residents'].apply(lambda x: mean_value if x < 0 else x)

mean_value = df[df['Water_Price'] >= 0]['Water_Price'].mean()
df['Water_Price'] = df['Water_Price'].apply(lambda x: mean_value if x < 0 else x)

mean_value = df[df['Guests'] >= 0]['Guests'].mean()
df['Guests'] = df['Guests'].apply(lambda x: mean_value if x < 0 else x)

mean_value = df[df['Period_Consumption_Index'] >= 0]['Guests'].mean()
df['Period_Consumption_Index'] = df['Period_Consumption_Index'].apply(lambda x: mean_value if x < 0 else x)

In [14]:
negative_count = (df.select_dtypes(exclude=['datetime64[ns]']) < 0).sum()
print("Negative value counts per column:")
print(negative_count)

Negative value counts per column:
Residents                   0
Apartment_Type              0
Temperature                 0
Humidity                    0
Water_Price                 0
Period_Consumption_Index    0
Income_Level                0
Guests                      0
Amenities                   0
Appliance_Usage             0
dtype: int64

In [15]:
import os

save_dir="C:\\Users\\Lenovo\\Desktop\\Household_Water_consumption"

os.makedirs(save_dir, exist_ok=True)
df.to_csv(os.path.join(save_dir, 'preprocessed_test_data.csv'), index=False)

print(f"Data saved in '{save_dir}' directory.")

Data saved in 'C:\Users\Lenovo\Desktop\Household_Water_consumption' directory.